{% extends 'base.html' %}

{% block title %}
    Edit Section

{% endblock %}


{% block content %}

<h1>Edit Section</h1>

<div class="form_group">
    <form action="" method="post">
        <label for="name">Section Name:</label>
        <input type="text" 
        name="name"
        id="name"
        value="{{section.name}}"
        required>bg-body-tertiary
    
        <label for="date_created">Date Created</label>
        <input type="date"
        name="date_created"
        id="date_created"
        value="{{section.date_created}}"
        required>
    
    
        <label for="description">Description:</label>
        <textarea id="description" 
        name="description" 
        rows="4" cols="50" 
        placeholder="Enter your description here"
        value="{{ section.description }}"
        required></textarea><br><br>
    
        <button type="submit" class="btn btn-success">
            Update
        </button>
    
    
    
    
    </form>
</div>


{% endblock %}