{% extends 'base.html' %}

{% block title %}
    Book Request
{% endblock %}

{% block content %}

<h1></h1>

<div class="form_group">
    <form action="" method="post">
        <!-- Form fields -->
    
        <label for="user_name">User Name: </label><br>
        <input type="text" id="user_name" name="user_name" value="{{user.username}}" required><br>

        <label for="book_name">Book Name:</label><br>
        <input type="text" id="book_name" name="book_name" value="{{book.name}}" required><br>

        <label for="request_date">Request Date:</label><br>
        <input type="date" id="request_date" name="request_date" required><br><br>

        <label for="return_date">Return Date:</label><br>
        <input type="date" id="return_date" name="return_date" required><br><br>


        <button type="submit" class="btn btn-success">
            Request Book
        </button>
    </form>
</div>

{% endblock %}
