{% extends 'base.html'%}


{% block title %}
   Book Issued
{% endblock %}


{% block content %}

<h1>User DashBoard</h1>




<h2>Book Issued</h2>


<table class="styled-table">
   <thead>
      <tr>
         <th>Id</th>
         <th>Book Name</th>
         <th>Authors</th>
         <th>Request Date</th>
         <th>Return Date </th>
         <th> Status </th>
         
         
         
      </tr>
   </thead>

   <tbody>
      {% for req in book_issue %}
      <tr>
       
         <td>{{req.id}}</td>
         <td>{{req.book_name}}</td>
         <td>{{req.book_author}}</td>
         <td>{{req.issue_date}}</td>
         <td>{{req.return_date}}</td>
         <td>{{req.approved}}</td>

         
         
       
         
        
      </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock%}